# Environment configuration for Cijene API service

# Application version
VERSION=0.1.0

# Directory containing archive files
ARCHIVE_DIR=data

# Base URL for the API (used in archive URLs)
BASE_URL=https://api.cijene.dev

# Server host and port
HOST=0.0.0.0
PORT=8000

# Debug mode (enables auto-reload and debug features)
DEBUG=false

# Timezone for file timestamps
TIMEZONE=Europe/Zagreb

# URL to redirect to from root endpoint
REDIRECT_URL=https://cijene.dev

# db
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=cijene_db
POSTGRES_USER=cijene_user
POSTGRES_PASSWORD=cijene_pass

SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://cijene_user:cijene_pass@db:5432/cijene_db
SQLALCHEMY_DATABASE_URI_TEST=postgresql+psycopg2://cijene_user:cijene_pass@db:5432/cijene_db_test # if not defined, will make sqlite in tmp/